@page
@model SoulsScribblesAndSounds.Pages.AddBlog.AddBlogModel
@using SoulsScribblesAndSounds.Models


@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Add Blog Post</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<div class="container">
    <h2>Add a New Blog Post</h2>
    <form method="post">
        <div class="form-group">
            <label asp-for="blogPost.Title"></label>
            <input asp-for="blogPost.Title" class="form-control"/>
            <span asp-validation-for="blogPost.Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="blogPost.Content"></label>
            <textarea asp-for="blogPost.Content" class="form-control" rows="5"></textarea>
            <span asp-validation-for="blogPost.Content" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="blogPost.MusicUrl">Choose music</label>
            <input asp-for="blogPost.MusicUrl" class="form-control"/>
            @*             <span asp-validation-for="blogPost.MusicUrl" class="text-danger"></span>
 *@        </div>
        
        <div class="form-group">
            <label asp-for="blogPost.PictureUrl">Choose music</label>
            <input asp-for="blogPost.PictureUrl" class="form-control"/>
            @*             <span asp-validation-for="blogPost.MusicUrl" class="text-danger"></span>
 *@        </div>
        
        @*  <a class="btn btn-success" asp-controller="Spotify" asp-action="Login">Login with Spotify</a>
 *@

        <button type="submit" class="btn btn-primary">Save</button>
    </form>
    
@*     <div class="spotify-auth-section">
        <h2>Search Music on Spotify</h2>
        <p>Connect your Spotify account to search for music to add to your blog post.</p>
    
        <a href="#" id="login-spotify-button" class="btn btn-success">Login with Spotify</a> 
        </div>
    
    <div class="search-section" style="display: none;"> 
        <input type="text" id="spotify-search" placeholder="Search for Songs..." />
        <button id="search-spotify-button" class="btn btn-primary">Search</button>
    
        <div id="spotify-search-results">
            </div> *@
    </div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js"></script>
</body>
</html>