@page
@model SoulsScribblesAndSounds.Pages.ListBlogs.ListBlogsModel

@{
    Layout = "_Layout";
}

<h1>Blog Posts</h1>

<ul> 
    @foreach (var blogPost in Model.BlogPosts) 
    {
        <li>
            <h2><a asp-page="./ViewBlog" asp-route-id="@blogPost.Id">@blogPost.Title</a></h2>  
            <p>@blogPost.Date.ToShortDateString()</p> 
        </li>
    }
</ul>