<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">

        <div class="navbar-brand">
            Souls Scribbles <br/>
            <span class="sounds-title">& Sounds</span>
        </div>

        <div class="nav-item px-3">
            <a class="nav-link" href="/">
                <span class="bi bi-house" aria-hidden="true"></span> Home
            </a>
        </div>

        <div class="nav-item px-3">
            <a class="nav-link" href="/listblogs">
                <span class="bi bi-list-ul" aria-hidden="true"></span> Blog Posts
            </a>
        </div>

        <div class="nav-item px-3">
            <a class="nav-link" href="/addblog">
                <span class="bi bi-pencil-square" aria-hidden="true"></span> Add Blog
            </a>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/listblogs"> 
                <span class="bi bi-person" aria-hidden="true"></span> Blog Posts
            </NavLink>
        </div>
    </nav>
</div>